#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1.0.0.0
PRODUCTVERSION  1.0.0.0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName",        "N/A"
            VALUE "FileDescription",    "Python embeddable package launcher"
            VALUE "FileVersion",        "1.0.0.0"
            VALUE "InternalName",       "py-knocker"
            VALUE "LegalCopyright",     "Copyright (C) N/A"
            VALUE "LegalTrademarks",    "N/A"
            VALUE "OriginalFilename",   "py-knocker.exe"
            VALUE "ProductName",        "py-knocker"
            VALUE "ProductVersion",     "1.0.0.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

100 ICON "main.ico"
